body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9dfcf9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokedex {
  background-color: rgb(236, 235, 235);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.pokemon-card {
  display: inline-block;
  width: 150px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.pokemon img {
  max-width: 100%;
  height: auto;
}

#refresh-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
